@import "@/presentation/style/_global.sass"

#container-account-informations
  display: grid
  grid-template-areas: 'component-search-bar component-search-bar' 'component-perfil-box component-repositories-box'
  grid-template-columns: 28rem auto
  width: 80vw
  max-height: 100vh
  overflow: hidden

  #component-search-bar
    height: 30vh

@media (min-width: 1100px)
  #container-account-informations
    grid-template-areas: 'component-search-bar' 'component-perfil-box' 'component-repositories-box'
