.mov__relative
  position: relative !important

.mov__up
  top: 4rem !important

.efc__box-shadow
  box-shadow: 0.2rem 0.2rem 3rem $black-primary

.efc__opacity-show
  opacity: 1

.efc__opacity-hide
  opacity: 0

.trs__one-second
  transition: all 1s

.trs__two-second
  transition: all 2s
