@import "@/presentation/style/_global.sass"

#component-perfil-box
  grid-area: component-perfil-box
  margin: 0rem auto 5rem auto
  width: 28rem
  height: 34rem
  background-color: $dark-primary
  border: 0.2rem $dark-secondary solid

#container-perfil-box
  width: 100%
  height: 100%

#container-perfil-box-image
  width: 100%
  height: 17rem

.box-image-black-fillter
  width: 100%
  height: 100%
  background-image: linear-gradient(to top, $black-primary, rgba(24,24,24,0.5), rgba(24,24,24,0))

.box-image-container
  img
    background-size: cover
    width: 100%
    height: 17rem

#container-perfil-box-informations
  width: 100% 
  height: 16.6rem
  background-color: $black-primary

#container-perfil-box-personal-informations, #container-perfil-box-account-informations
  width: 100%
  height: 8.3rem

#container-perfil-box-personal-informations
  .name
    font-size: 1.2rem
    font-weight: 500
  .organization, .location
    font-size: 1rem
    font-weight: 400
    color: $gray-secondary

#container-perfil-box-account-informations
  width: 100%
  & > div
    width: 9.33rem
    height: 100%
    background: -webkit-linear-gradient(#FFFFFF, #FFFFFF, #FFFFFF00)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    border-top: 0.1rem rgba(54, 55, 64, 0.15) solid
    border-right: 0.1rem rgba(54, 55, 64, 0.15) solid
    span
      margin: 0.8rem
      font-size: 2rem
